<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-name>PASS Keyword Service</display-name>

    <servlet>
        <servlet-name>PASS Keyword Service Application</servlet-name>
        <servlet-class>PASSKeywordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PASS Keyword Service Application</servlet-name>
        <url-pattern>pass-keyword-service</url-pattern>
    </servlet-mapping>

</web-app>